/* Global styles for the application */
/* This file allows for CSS resets and base styles that apply globally */
/* You can also import other style files using @import */
html, body {
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}
